<div style="
text-align: center;
color: beige;
font-size: 14px;
font-weight: 300;
padding: 80px;
">
<h4 style="font-size: 14px;font-weight: 300;">&copy; Yusuf Al Naiem</h4>
<h5 style="font-size: 14px;font-weight: 300;">11812720</h5>
<h6 style="font-size: 13px;font-weight: 300;">B.Tech Computer Science & Engineering</h6>
<h6 style="font-size: 13px;font-weight: 300;">Lovely Professional University</h6>
</div>