<nav class="nav_bar">
    <div class="nav_list">
      <div class="logo">
        <img src="/css/img/logo.png" alt="Logo" />
      </div>
      <ul>
        <li><a href="/">HOME</a></li>
        <li><a href="#">BRAND</a></li>
        <li><a href="#">TOP RATED</a></li>
        <li><a href="#">COMPARE</a></li>
        <li><a href="#">UPCOMING</a></li>
        <li><a href="#">NEW LAUNCHED</a></li>
        <li><a href="#">ABOUT US</a></li>
        <li><a href="#">CONTACT US</a></li>
      </ul>
    </div>
  </nav>